{% extends '_layouts/base.njk' %}

{% block page_title %}The Ship's Log{% endblock %}

{% block page_description %}A daily blog from Capt. Crit McGillicutty{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-offset-md-3">
      <h1>The Flying Dutchman</h1>
      <p>The Flying Dutchman is a legendary ghostship that is cursed to sail the oceans forever without ever making port. This blog is meant to tracks its everlasting journey across the seven seas.</p> 
      <p>It is a common superstition of mariners, that, in the high southern latitudes on the coast of Africa, hurricanes are frequently ushered in by the appearance of a spectre-ship, denominated the Flying Dutchman ... The crew of this vessel are supposed to have been guilty of some dreadful crime, in the infancy of navigation; and to have been stricken with pestilence ... and are ordained still to traverse the ocean on which they perished, till the period of their penance expire.</p>
      {% for entry in data.entries %}
        <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
        <p class="entry-date">{{ entry.date }}</p>
        <hr>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
